.popup {
    position:fixed;
    top:70px;
    left:0px;
	bottom:0px;
	right:0px;	
    margin:auto;
    width:95%;
    height:90%;
    min-height: 650px;
    padding:20px;
    background-color: #242943;
    border:2px solid #888;
    z-index:100000000000000000 !important;
    display: block; 
}
    
.cancel {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.cancel:hover {
    background:rgb(255,50,50);
	color: black;
    text-decoration: none;
    cursor: pointer;
}
}
