.popup {
    position:fixed;
    top:70px;
    left:0px;
	bottom:0px;
	right:0px;	
    margin:auto;
    width:95%;
    height:90%;
    min-height: 650px;
    padding:20px;
    background-color: #242943;
    border:2px solid #888;
    z-index:100000000000000000 !important;
    display: block; 
}
    
.cancel {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.cancel:hover,
.closepopup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contentpopup {
    background-color: #242943;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
    height: 91%;
    min-height: 650px;	/* Could be more or less, depending on screen size */
	display: block; 
	margin: 50px auto;
}