.popup {
    background-color: #242943;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
    height: 91%;
    min-height: 650px;  /* Could be more or less, depending on screen size */
    display: block; 
    margin: 50px auto;
}
    
.cancel {
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:10px;
    width:14px;
    padding:0 0 5px 0;
    background-color:red;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:white;
    border-radius:3px;
    z-index:100000000000000000;
}

.cancel:hover {
    background:rgb(255,50,50);
}